//== Colors
//
//## Gray

$gray-0:            #000 !default;
$gray-1:            lighten($gray-0, 13.5%) !default; // #222
$gray-2:            lighten($gray-0, 20%) !default;   // #333
$gray-3:            lighten($gray-0, 33.5%) !default; // #555
$gray-4:            lighten($gray-0, 46.7%) !default; // #777
$gray-5:            lighten($gray-0, 93.5%) !default; // #eee

$blue-0:            #428bca !default;
$blue-1:            darken(#428bca, 6.5%) !default; // #337ab7
$green-0:            #5cb85c !default;
$orange-0:          #f0ad4e !default;
$red-0:             #d9534f !default;



//== Font-size
//
//## Font, base on root screen = 640px  1rem = 24px.
//

$fz-s:              .833rem;  // 20 px
$fz:                1rem; // 24 px
$fz-m:              1.16rem; // 28 px
$fz-ml:             1.25rem; // 30 px
$fz-l:              1.333rem; //  32 px
$fz-ll:             1.5rem; //  36px

//==borderradius
$radius: 10/24+rem;

//==shadowcolor
$shadowcolor: rgba(0,0,0,.05);
